<div class="hero-section">
  <div class="hero-background"></div>
  <div class="container-fluid px-4">
    <div class="hero-content">
      <!-- Left side: Profile information -->
      <div class="profile-content">
        <h2 class="name-title text-white text-uppercase">
          {{ user?.first_name || 'Guest User'  }} {{ user?.last_name || ''  }}</h2>
        <div class="ratings-container text-warning">
          Email : <span class="text-white mx-2">{{ user?.email || 'No email' }}</span>
        </div>
        <div>
          <span class="ratings-container text-warning">Grade :<span class="text-white mx-2 ">{{ user?.grade || 'No grade' }}</span>
 </span>
        </div>
      </div>
      

    </div>
  </div>
  
  <!-- Profile image positioned mostly outside the hero section -->
  <img src="/assets/images/placeholder.jpg" alt="Profile" class="profile-img">
</div>
