/* Sidebar */
#sidebar-wrapper{
    z-index:1;
    position: fixed;
    width:0;
    height:100%;
    top: 15px;
    left: 10px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(45, 51, 107, 0.15);

    overflow-y:hidden;
    background: #ffffff;
    opacity:0.9;
      transition:all .5s;
      display:flex;
      align-items:center;
  }
  
  /* Main Content */
  #page-content-wrapper{
    width: 100%;	
    position: absolute;
    padding:15px;
      transition:all .5s;
  }
  
  #menu-toggle{
      position: fixed;
      top:12px;
      transition:all .3s;
      font-size:2em;
  }
  #menu-toggle:hover{
    color:#2D336B;
    cursor:pointer;
  }
  /* Change the width of the sidebar to display it*/
  #wrapper.menuDisplayed #sidebar-wrapper{
    width:250px;
  }
  
  #wrapper.menuDisplayed #page-content-wrapper{
    padding-left:250px;
  }
  
  /* Sidebar styling */
  .sidebar-nav{
    padding:0;
    list-style:none; 
      transition:all .5s;
      width:100%;
      text-align:center;
      
  }
  
  .sidebar-nav li{
    line-height:40px;  
      width:100%;
      transition:all .3s;
      padding:10px;
  }
  
  .sidebar-nav li a {
    display:block;
    text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;

  }
  
  .sidebar-nav li:hover{
    background:#fdfdfd;
    cursor:pointer;
  
  }

  .active-link {
    background: linear-gradient(to right, var(--medium-purple), var(--dark-purple));
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 11px;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 400;
    /* margin-right: 10px; */
  

  }
  

  .fa-chevron-right{
    font-size: 10px;

  }


  .link-name {
    font-size: 16px;
    margin-left: 10px;
  
  }
  .link-name i{
    margin-right: 15px;
    font-size: 20px;
  }
  a { 
    text-decoration: none;
    color: #999999;
    font-size: 16px;
    font-weight: 300;
    transition: all.3s;
  }

  a:hover{
   color: #040169;
   border: none;
   border-radius: 11px;
   padding: 10px 10px;
   font-size: 20px;
   font-weight: 400;

 }