<div id="wrapper" [class.menuDisplayed]="isMenuOpen">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li><a routerLink="/admin/dashboard" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-link" > <span class="link-name"> <i class="bi bi-clipboard-data-fill"> </i> Dashboard</span> <i class="fa-solid fa-chevron-right"></i></a></li>
        <li><a routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-link" > <span class="link-name"> <i class="fa-solid fa-file-signature"> </i>  Subscriptions</span> <i class="fa-solid fa-chevron-right"></i></a></li>
        <li><a routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-link" > <span class="link-name"> <i class="fa-solid fa-graduation-cap"> </i> Students</span> <i class="fa-solid fa-chevron-right"></i></a></li>
        <li><a routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-link" > <span class="link-name"> <i class="fa-solid fa-person-chalkboard"></i> Lessons</span> <i class="fa-solid fa-chevron-right"></i></a></li>
      </ul>
    </div>
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
          <div class="container-fluid">
          <div class="row">
          <div class="col-lg-12">
      <div id="menu-toggle" (click)="toggleMenu()"><i class="bi bi-filter-left"></i></div>
     <div class="ms-5">
        <router-outlet></router-outlet>
     </div>

    </div>
</div>


