
<body>
    <div class="container">
    

        <div class="card header">
            <h1>Welcome to
                 <span class="m-1 learnify-branding">

                <i class="fas fa-graduation-cap"></i>
                Learnify 
            </span>
            </h1>
            <div class="quote">
                <p>"Knowledge builds houses that have no pillars, while ignorance destroys houses of pride and honor"</p>
                <div class="quote-author">- Imam Al-Shafi'i</div>
            </div>
        </div>


        <div class="quick-actions">
            <h3 class="quick-actions-title">Quick Actions</h3>
            <div class="quick-actions-grid">
              <a class="quick-action-item" routerLink="/admin/dashboard/lessons/add">
                <div class="quick-action-icon">
                  <i class="fas fa-book"></i>
                </div>
                <span>Add New Lesson</span>
              </a>
              <a class="quick-action-item" routerLink="/admin/dashboard/materials/add">
                <div class="quick-action-icon">
                  <i class="fas fa-book-open"></i>
                </div>
                <span>Add New Material </span>
              </a>
              <a class="quick-action-item" routerLink="/admin/dashboard/lectures/add">
                <div class="quick-action-icon">
                  <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <span>Create New Lecture</span>
              </a>
              <a class="quick-action-item" routerLink="/admin/dashboard/assignments/add">
                <div class="quick-action-icon">
                  <i class="fas fa-pen"></i>
                </div>
                <span>Create New Assignment</span>
              </a>
            </div>
          </div>


        <div class="card profile-section">
            <span>
                This project was developed by a graduate of the ITI PHP Track and under the supervision of engineer <strong>Mahmoud Al-Basha</strong>
            </span>
        </div>
    </div>
</body>
