<div class="sidebar">
  <div class="welcome-section mb-4">
    <h6 class="text-uppercase text-muted small mb-3">WELCOME</h6>
    <ul class="sidebar-menu">
      <li>
        <a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
      </li>

      <li>
        <a routerLink="/student/dashboard/lessons-list" routerLinkActive="active-link" 
           [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-person-chalkboard"></i>
          My Lessons</a>
      </li>

      <li>
      <a routerLink="/student/dashboard/lectures-list" 
        routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-chalkboard-teacher"></i> My Lectures</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-pen"></i> My Quiz Attempts</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-shopping-bag"></i> Order History</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-question-circle"></i> Question & Answer</a>
      </li>
    </ul>
  </div>
  
  <div class="user-section mb-4">
    <h6 class="text-uppercase text-muted small mb-3">USER</h6>
    <ul class="sidebar-menu">
      <li>
        <a routerLink="/student/dashboard/profile" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" ><i class="fas fa-user"></i> My Profile</a>
      </li> <li>
        <a routerLink="/student/dashboard/packages" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" ><i class="fas fa-box-open"></i> Packages</a>
      </li>
      <li>
        <!-- <button (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button> -->
      </li>
    </ul>
  </div>
  
</div>
